<div class="col-md-4">
    <div class="content-section">
      <h3>Status Sidebar</h3>
      <p class='text-muted'>You can filter the results by the piece of media's status.
        <ul class="list-group">
          <a href="#" > <li class="list-group-item list-group-item-light" style="color:darkblue;">Recommended  </li></a>
          <a href="#">  <li class="list-group-item list-group-item-light" style="color:purple">Downloaded    </li></a>
          <a href="#">  <li class="list-group-item list-group-item-light" style="color:green ;">Completed     </li></a>
          <a href="#">  <li class="list-group-item list-group-item-light" style="color:darkred;">Abandonded    </li></a>
          <a href="#">  <li class="list-group-item list-group-item-light" style="color:black;">All    </li></a>
        </ul>
      </p>
    </div>
  </div>